full-width = 793px
left-width = full-width * .7 - 2px
right-width = full-width * .3 - 1px
full-height = 472px
head-font-size = 24px
titlebar-height = head-font-size + 8px
head-border = 1px
//head-color = #62AA00
head-color = black
foot-height = 16px
foot-border = 1px
main-border-color = #aaa
second-border-color = #ddd
link-color = #62AA00
selected-color = #00B7FF
selected-link-color = black
header-bg-color = #ccc
border-rad = 9px

overlay-full-width = 183px
overlay-full-height = 252px
overlay-font-size = 16px
overlay-titlebar-height = overlay-font-size + 4px
overlay-foot-height = 12px
overlay-border-rad = 6px

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-button:start:decrement { display: block; width: 5px; height: 5px; background-color: transparent; border-left: 1px solid rgba(0,0,0,.1); }
::-webkit-scrollbar-button:end:increment { display: block; width: 5px; height: 5px; background-color: transparent; border-left: 1px solid rgba(0,0,0,.1);}
::-webkit-scrollbar-track{border-left: 1px solid rgba(0,0,0,.1); background: transparent; padding-left: 1px;}
::-webkit-scrollbar-track:enabled { background-color: transparent; }
::-webkit-scrollbar-track-piece { background-color: transparent; border: none; margin: 0; }
::-webkit-scrollbar-thumb:window-inactive{}
::-webkit-scrollbar-thumb{-webkit-border-radius: 5px; border: 1px solid #222; background: rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:vertical { height: 30px;}
::-webkit-scrollbar-thumb:horizontal { width: 30px;}

span.uparrow, span.downarrow, span.leftarrow, span.rightarrow
  display block
  height 13px
  width 13px
  background-color transparent
  background-image url('../icons/arrows.png')

span.uparrow
  background-position -6px -1.5px

span.downarrow
  background-position -58px -1.5px

span.leftarrow
  background-position -81px -1.5px

span.rightarrow
  background-position -32px -1.5px

html, body
  background-color transparent
  color black
  margin 0px
  padding 0px

body.main
  width full-width
  height full-height
  .all
    border-radius border-rad
    //box-shadow 0 4px 20px rgba(0,0,0,.5)
    background-color white
    border 1px solid black

  header
    cursor pointer
    -webkit-user-select:none;
    user-select: none;
    background-color #aaa
    height titlebar-height
    border-top-left-radius border-rad
    border-top-right-radius border-rad
    clear both
    border-bottom head-border solid main-border-color
    width full-width - 2px
    font-weight bold

    img#app_icon
      float left
      height 16px
      margin 8px 5px

    a
      display block
      float right
      margin-right 15px
      border-bottom-left-radius 3px
      border-bottom-right-radius 3px
      border 1px solid #888
      border-top 0px
      color white
      font-weight bold
      text-decoration none
      width 20px
      text-align center
    a + a
      margin-right 5px
    a#close
      background-color red
    a#minimize
      background-color #ccc

    h1
      font-size head-font-size
      color head-color
      padding 4px 5px
      margin 0px
      width full-width - 10px

  footer
    clear both
    height foot-height
    border-top foot-border solid main-border-color
    width full-width - 2px
    background-color #aaa
    font-size 2px
    border-bottom-left-radius border-rad
    border-bottom-right-radius border-rad

    .version
      float right
      font-size 10px
      margin-right 10px

  .buttonset
    a
      width right-width - 10px
      margin 0
      display block
      font-variant small-caps
      padding 1px 5px
      border-top 1px solid second-border-color
      border-bottom 1px solid second-border-color
      text-decoration none
      color link-color
      background-color #eee
      -webkit-user-select none
      user-select none
    a.selected
      background-color selected-color
      color selected-link-color
    a + a
      border-top none

  .leftpane, .rightpane
    height (full-height) - (head-border) - (foot-height) - (foot-border) - (titlebar-height)
    overflow hidden

    .header
      background-color header-bg-color
      font-weight bold
      border-bottom second-border-color
      height header-height
      padding 2px 5px

  .leftpane
    float left
    width left-width
    border-right 1px solid main-border-color
    //background-color #eee

    #config
      form, form.buttonset
        display block
        padding 2px 5px
      input
        border 1px solid black
        width 70%
        margin-right 5px
        padding 2px 5px
      label
        font-weight bold
        display block
        margin-top 10px

      .buttonset
        a
          -webkit-user-select:none;
          user-select: none;
          display inline
          width auto
          padding 1px 5px
          text-decoration none
          color black
          background-color #ccc
          -webkit-border-radius 4px
          border-radius 4px
          border 1px solid #888
          text-shadow 0 -1px 0 rgba(255, 255, 255, 0.4)
          -webkit-box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2)
          box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2)

          -webkit-transition-duration 0.2s
          transform-duration 0.2s

        a:hover, a:focus
          text-decoration none
          color selected-color - 50%

        a.selected
          background-color selected-color
          color selected-link-color

    #stats
      .left_stats, .right_stats, .mid_stats
        float left
        width ((left-width - 6px) / 3)

      .left_stats
        margin-left 5px

        .content
          height (full-height) - (head-border) - (foot-height) - (foot-border) - (titlebar-height) - 80px

      .right_stats, .mid_stats
        .content
          height (full-height) - (head-border) - (foot-height) - (foot-border) - (titlebar-height) - 56px

          h2
            margin 0
            padding 4px 5px
            font-size 16px
            height 16px
            font-weight bold

      select
        height 24px
        padding 2px 5px
        width 95%

      .main_selector
        margin 10px auto
        padding 0 5px

      label
        font-weight bold

      select#encounter_selector
        width auto

      .main_selector
        label
        height 42px



  .rightpane
    float right
    width right-width
    background-color header-bg-color

body.overlay
  width overlay-full-width
  height overlay-full-height

  .all
    border-radius overlay-border-rad
    //box-shadow 0 4px 20px rgba(0,0,0,.5)
    background-color white
    border 1px solid black

  header
    cursor pointer
    -webkit-user-select:none;
    user-select: none;
    background-color #aaa
    height overlay-titlebar-height
    border-top-left-radius overlay-border-rad
    border-top-right-radius overlay-border-rad
    clear both
    border-bottom head-border solid main-border-color
    width overlay-full-width - 2px
    font-weight bold

    a
      display block
      float right
      margin-right 15px
      border-bottom-left-radius 3px
      border-bottom-right-radius 3px
      border 1px solid #888
      border-top 0px
      color white
      font-weight bold
      text-decoration none
      width 20px
      text-align center
    a + a
      margin-right 5px
    a#close
      background-color red

    h1
      font-size overlay-font-size
      color head-color
      padding 2px 5px
      margin 0px
      width overlay-full-width - 10px

    .timer
      font-size 12px
      float right
      margin-right 10px

  footer
    clear both
    height overlay-foot-height
    border-top foot-border solid main-border-color
    width overlay-full-width - 2px
    background-color #aaa
    font-size 2px
    border-bottom-left-radius overlay-border-rad
    border-bottom-right-radius overlay-border-rad

  .content
    height (overlay-full-height) - (head-border) - (overlay-foot-height) - (foot-border) - (overlay-titlebar-height)

body.overlay, #stats
  .content
    overflow scroll

    ol
      list-style-type none
      margin 0
      padding 0

      li
        -webkit-user-select:none;
        user-select: none;
        font-size 14px
        font-family Helvetica, Arial, sans-serif
        font-weight 500
        display block
        position relative
        cursor pointer
        overflow show

        span.tooltip
          display none
          margin-left 10px
          font-size 14px
          white-space nowrap
          background-color #ddd
          border 1px solid #aaa
          border-top none

        span.tooltip.showing
          -webkit-user-select: text;
          user-select: text;
          display block
          width 100%

        span.color-bar
          position absolute
          top 0
          left 0
          z-index 2
          display block

        span.color-bar.color-1
          background-color orange
          color orange

        span.color-bar.color-2
          background-color orange
          color orange

        span.color-bar.color-3
          background-color orange
          color orange

        span.color-bar.color-4
          background-color orange
          color orange

        span.color-bar.color-5
          background-color orange
          color orange

        span.color-bar.color-6
          background-color orange
          color orange

        span.color-bar.color-7
          background-color orange
          color orange

        span.color-bar.color-8
          background-color orange
          color orange

        span.color-bar.color-commando
          background-color orange
          color orange

        span.color-bar.color-vanguard
          background-color orange
          color orange

        span.color-bar.color-shadow
          background-color orange
          color orange

        span.color-bar.color-sage
          background-color orange
          color orange

        span.color-bar.color-guardian
          background-color orange
          color orange

        span.color-bar.color-sentinel
          background-color orange
          color orange

        span.color-bar.color-scoundrel
          background-color orange
          color orange

        span.color-bar.color-gunslinger
          background-color orange
          color orange

        span.value, span.expand-control
          position absolute
          top 0
          right 5px
          z-index 4
          display block

        span.name
          position absolute
          top 0
          left 5px
          z-index 3
          display block
          white-space nowrap
          overflow hidden
