!!! 5
html
  head
    title SWTOR Combat Nodes
    link(rel="stylesheet", href="css/build.css")
    link(rel="stylesheet", href="css/style.css")

  body
    header 
      h1 SWTOR Combat Meters
    #rightpane
      .header Menu
      nav#menu
      .header Overlays
      #overlay-selector
    #leftpane
      
      #config
        .header Configuration
        div
      #stats
        .header Combat Statistics
        div
        p#test
    footer


    script(src="js/build.js", type="text/javascript")
    script(type="text/javascript")
      require('node-swtor/application');

