!!! 5
html
  head
    title SWTOR Combat Nodes
    link(rel="stylesheet", href="css/build.css")
    link(rel="stylesheet", href="css/style.css")
    
  body
    p#test
    script(src="js/build.js", type="text/javascript")
    script(type="text/javascript")
      require('node-swtor/application');
    
